# Contract

## Goal

This notebook is ideally to explore pandas' multiindex with the specific goal of being able to solve the _ranking problem_.

The _ranking problem_ is that given a table of numbers one can rank by rows or columns and then put the rankings adjacent to the numbers 
in question.

More generally suppose I have two matrices but I want to interleave them, and create a hierarchical indices such that the higher
index specifies what is common and the lower what is different. Solved [here](#inter-leaving)


There is a yet more general problem of splitting a single row that is worth consideration as well [here](#Assignment-with-MI's)

The combination of matrices approach has the advantage that matrices with homogenous data types are easier to manipulate.

## Current Problem

generalize the `weave_cols` from a pair of dataframes to a list

## Notable Achievements

- [append_to_level function](#append_to_level)
- [Generalized assignment - (when to use `values`)](#Generalized-MI-assignment)
- [sum with `level` parameter](#sum-(and-others)-with-level-parameter)
- [weave functions](#weave-functions)
- [generalized weave functions](#generalized-weave-funtions)

## Conclusion

# Setup

In [82]:
import pandas as pd
import numpy as np
import itertools as it
pd.__version__, np.__version__

('0.19.2', '1.11.3')

In [2]:
# hack to make markdown code more visible.. (stolen from github css+)

In [79]:
%%html
<style type="text/css">
    .rendered_html code {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin: 0;
        font-size: 95%;
        background-color: rgba(27,31,35,0.05);
        border-radius: 5px;
        font-weight: bolder;
    }
</style>

stuff to look at:

- http://ehneilsen.net/notebook/pandasExamples/pandas_examples.html#orgheadline18

# inter-leaving

Given two dataframes, combine to make third. Assume they have similar columns and/or index.

In [109]:
np.arange(6).reshape(2,3)

ValueError: total size of new array must be unchanged

In [114]:
a_df = pd.DataFrame(np.arange(6).reshape(2,3), columns=['a','b','c'])
a_df

   a  b  c
0  0  1  2
1  3  4  5

In [115]:
b_df = pd.DataFrame(6- np.arange(6).reshape(2,3), columns=['a','b','c'])
b_df

   a  b  c
0  6  5  4
1  3  2  1

First try: bump up hierarchical index and then append

In [116]:
# a_df.columns = 
fst_ndx = pd.MultiIndex.from_product([['fst'],a_df.columns])
fst_ndx

MultiIndex(levels=[['fst'], ['a', 'b', 'c']],
           labels=[[0, 0, 0], [0, 1, 2]])

In [117]:
# a_df.columns = 
snd_ndx = pd.MultiIndex.from_product([['snd'],a_df.columns])
snd_ndx

MultiIndex(levels=[['snd'], ['a', 'b', 'c']],
           labels=[[0, 0, 0], [0, 1, 2]])

In [119]:
# failure
a2_df = pd.DataFrame( a_df, columns=fst_ndx)
a2_df

  fst
    a   b   c
0 NaN NaN NaN
1 NaN NaN NaN

In [121]:
# success
a2_df = pd.DataFrame( a_df.values, columns=fst_ndx)
a2_df

  fst
    a  b  c
0   0  1  2
1   3  4  5

In [122]:
# success
b2_df = pd.DataFrame( b_df.values, columns=snd_ndx)
b2_df

  snd
    a  b  c
0   6  5  4
1   3  2  1

In [125]:
a2_df.append(b2_df)

   fst            snd
     a    b    c    a    b    c
0  0.0  1.0  2.0  NaN  NaN  NaN
1  3.0  4.0  5.0  NaN  NaN  NaN
0  NaN  NaN  NaN  6.0  5.0  4.0
1  NaN  NaN  NaN  3.0  2.0  1.0

Success with `pd.concat`

In [128]:
pd.concat([a2_df,b2_df], axis=1)

  fst       snd
    a  b  c   a  b  c
0   0  1  2   6  5  4
1   3  4  5   3  2  1

In [136]:
pd.concat([a2_df,b2_df], axis=1).reorder_levels([1,0], axis=1).sortlevel(axis=1)

    a       b       c
  fst snd fst snd fst snd
0   0   6   1   5   2   4
1   3   3   4   2   5   1

So the general procedure is create a new index from the old one, and make a new dataframe from the values of the old one.

With the reindex arrays you can `pd.concat([df1, df2],  axis=[0,1])`.

Finally, you need to `reorder_levels` and then `sortlevel`.

In [184]:
a_df

   a  b  c
0  0  1  2
1  3  4  5

In [174]:
c_df = pd.DataFrame(np.arange(8).reshape(2,4), columns = list('abdc'))
c_df

   a  b  d  c
0  0  1  2  3
1  4  5  6  7

In [187]:
d_df = pd.DataFrame(np.arange(12).reshape(4,3), columns = list('abc'))
d_df

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

## `weave` functions

In [188]:
def weave_cols(df1, df2, label1, label2):
    assert( df1.shape[0] == df2.shape[0])
    fst_ndx = pd.MultiIndex.from_product([df1.columns,[label1]])
    snd_ndx = pd.MultiIndex.from_product([df2.columns,[label2]])  
    _df1 = pd.DataFrame( df1.values, columns=fst_ndx)
    _df2 = pd.DataFrame( df2.values, columns=snd_ndx)  
    return pd.concat([_df1,_df2], axis=1).sortlevel(axis=1)

In [189]:
weave_cols(c_df, b_df,'joe','ralph')

    a         b         c         d
  joe ralph joe ralph joe ralph joe
0   0     6   1     5   3     4   2
1   4     3   5     2   7     1   6

In [190]:
def weave_rows(df1, df2, label1, label2):
    assert( df1.shape[1] == df2.shape[1])
    fst_ndx = pd.MultiIndex.from_product([df1.index,[label1]])
    snd_ndx = pd.MultiIndex.from_product([df2.index,[label2]])  
    _df1 = pd.DataFrame( df1.values, index=fst_ndx)
    _df2 = pd.DataFrame( df2.values, index=snd_ndx)  
    return pd.concat([_df1,_df2], axis=0).sortlevel(axis=0)

In [191]:
weave_rows(d_df, b_df,'joe','ralph')

         0   1   2
0 joe    0   1   2
  ralph  6   5   4
1 joe    3   4   5
  ralph  3   2   1
2 joe    6   7   8
3 joe    9  10  11

## generalized weave funtions

In [207]:
def weave_cols_from_d(df_label_d):
    """df_label_d should be a dictionary of labels and dataframes
    returns a dataframe where each column is the has a subindex for 
    each of dataframes in df_label_d with the label from the same."""
    
    shape_l = np.array([df.shape[0] for df in df_label_d.values()])
    assert (shape_l.max() == shape_l.min())

    ndx_l = [(pd.MultiIndex.from_product([df.columns, [label]]), df)
             for label, df in df_label_d.items()]

    df_l = [pd.DataFrame(df.values, columns=ndx) for ndx, df in ndx_l]

    return pd.concat(df_l, axis=1).sortlevel(axis=1)

In [205]:
def weave_rows_from_d(df_label_d):
    """df_label_d should be a dictionary of labels and dataframes
    returns a dataframe where each row is the has a subindex for 
    each of dataframes in df_label_d with the label from the same."""

    shape_l = np.array([df.shape[1] for df in df_label_d.values()])
    assert (shape_l.max() == shape_l.min())

    ndx_l = [(pd.MultiIndex.from_product([df.index, [label]]), df)
             for label, df in df_label_d.items()]

    df_l = [pd.DataFrame(df.values, index=ndx) for ndx, df in ndx_l]

    return pd.concat(df_l, axis=0).sortlevel(axis=0)

In [204]:
ldf_d = {'time': a_df, 'rank_row':arr_df, 'rank_col': arc_df}
weave_cols_from_d(ldf_d)

         a                      b                      c
  rank_col rank_row time rank_col rank_row time rank_col rank_row time
0      1.0      1.0    0      1.0      2.0    1      1.0      3.0    2
1      2.0      1.0    3      2.0      2.0    4      2.0      3.0    5

In [206]:
ldf_d = {'time': a_df, 'rank_row':arr_df, 'rank_col': arc_df}
weave_rows_from_d(ldf_d)

              0    1    2
0 rank_col  1.0  1.0  1.0
  rank_row  1.0  2.0  3.0
  time      0.0  1.0  2.0
1 rank_col  2.0  2.0  2.0
  rank_row  1.0  2.0  3.0
  time      3.0  4.0  5.0

# Ranking Problem

In [150]:
a_df

   a  b  c
0  0  1  2
1  3  4  5

In [153]:
arc_df = a_df.rank()
arc_df

     a    b    c
0  1.0  1.0  1.0
1  2.0  2.0  2.0

In [154]:
arr_df = a_df.rank(axis=1)
arr_df

     a    b    c
0  1.0  2.0  3.0
1  1.0  2.0  3.0

In [192]:
w_df = weave_cols(a_df, arc_df,"time","team")
w_df

     a         b         c
  team time team time team time
0  1.0    0  1.0    1  1.0    2
1  2.0    3  2.0    4  2.0    5

> Observation, the dataframe's shapes only need to agree in the non-weaving dimension

# Assignment with MI's

`idx = pd.IndexSlice` gives much more intuitive multi-index slicing

In [4]:
idx = pd.IndexSlice
midx = pd.MultiIndex.from_tuples([(1,'a'),(1,'c'),(2,'a'),(2,'b')])
mcols  = pd.MultiIndex.from_product([['ZZ','BB','QQ'],['oo','pp']])
s = pd.Series( list('quof'), index = midx)
print(s)

df = pd.DataFrame( np.random.random((4,6)) * 10 // 1 , index=midx, columns= mcols)
print(df)

df.loc[idx[:,'a'],['BB']] = df.loc[idx[:,'b'],['ZZ']].values

df

1  a    q
   c    u
2  a    o
   b    f
dtype: object
      ZZ        BB        QQ
      oo   pp   oo   pp   oo   pp
1 a  1.0  2.0  3.0  9.0  5.0  4.0
  c  7.0  5.0  6.0  7.0  1.0  9.0
2 a  5.0  3.0  2.0  3.0  1.0  6.0
  b  1.0  0.0  4.0  6.0  2.0  2.0

      ZZ        BB        QQ
      oo   pp   oo   pp   oo   pp
1 a  1.0  2.0  1.0  0.0  5.0  4.0
  c  7.0  5.0  6.0  7.0  1.0  9.0
2 a  5.0  3.0  1.0  0.0  1.0  6.0
  b  1.0  0.0  4.0  6.0  2.0  2.0

In [5]:
idx = pd.IndexSlice
midx = pd.MultiIndex.from_tuples([(1,'a'),(1,'b'),(2,'a'),(2,'b')])
mcols  = pd.MultiIndex.from_product([['ZZ','BB','QQ'],['oo','pp']])
s = pd.Series( list('quof'), index = midx)


# df = pd.DataFrame( np.random.random((4,6)) * 10 // 1 , index=midx, columns= mcols)
print(df)

df.loc[idx[:,'a'],['BB']] = df.loc[idx[:,'b'],['ZZ']].values
df.loc[idx[:,'b'],['BB']] = 'hello!'
df.loc[idx[2,:],['BB','QQ']] = pd.to_timedelta(2, unit='s')

df

      ZZ        BB        QQ
      oo   pp   oo   pp   oo   pp
1 a  1.0  2.0  1.0  0.0  5.0  4.0
  c  7.0  5.0  6.0  7.0  1.0  9.0
2 a  5.0  3.0  1.0  0.0  1.0  6.0
  b  1.0  0.0  4.0  6.0  2.0  2.0

      ZZ                    BB                                QQ  \
      oo   pp               oo               pp               oo
1 a  1.0  2.0                1                0                5
  c  7.0  5.0                6                7                1
2 a  5.0  3.0  0 days 00:00:02  0 days 00:00:02  0 days 00:00:02
  b  1.0  0.0  0 days 00:00:02  0 days 00:00:02  0 days 00:00:02


                  pp
1 a                4
  c                9
2 a  0 days 00:00:02
  b  0 days 00:00:02

# Apply functions to different levels of columns

## using stack and unstack

The concrete problem that motivates this is ranking of a team/racer/lap.

We should be able to find the fastest time for each 
- lap  df.min(level = 2)
- team df.min(levl = 0)
- lap, skier df.min(level = [1,2]) 
- fastest racers time df.min(level = 1)

but ranking is different...

idx = team/racer cols = lap[123]/[team, ind]/ [time, rank]

In [6]:
idx = pd.IndexSlice
midx = pd.MultiIndex.from_tuples([(1,'a'),(1,'b'),(2,'a'),(2,'b')])
mcols  = pd.MultiIndex.from_product([['ZZ','BB','QQ'],['oo','pp']])
s = pd.Series( list('quof'), index = midx)


df = pd.DataFrame( np.random.random((4,6)) * 10 // 1 , index=midx, columns= mcols)
print(df)

df.loc[idx[:,'a'],['BB']] = df.loc[idx[:,'b'],['ZZ']].values

df.sortlevel(axis=1, inplace=True)
df

      ZZ        BB        QQ
      oo   pp   oo   pp   oo   pp
1 a  3.0  4.0  1.0  4.0  8.0  4.0
  b  9.0  1.0  3.0  4.0  7.0  6.0
2 a  0.0  5.0  0.0  2.0  0.0  3.0
  b  4.0  7.0  9.0  9.0  5.0  0.0

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  9.0  1.0  8.0  4.0  3.0  4.0
  b  3.0  4.0  7.0  6.0  9.0  1.0
2 a  4.0  7.0  0.0  3.0  0.0  5.0
  b  9.0  9.0  5.0  0.0  4.0  7.0

In the code below, we get the rank per column. How would I get the rank of a top-level column?
The only way I know is through stacking and unstacking.

parameter `level` doesn't exist for `apply`

In [7]:
df.apply(lambda c: c.rank())

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  3.5  1.0  4.0  3.0  2.0  2.0
  b  1.0  2.0  3.0  4.0  4.0  1.0
2 a  2.0  3.0  1.0  2.0  1.0  3.0
  b  3.5  4.0  2.0  1.0  3.0  4.0

In [8]:
df.stack().apply(lambda c: c.rank()).unstack()#.swaplevel(1,0, axis=1).sortlevel(axis=1)

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  7.0  1.0  8.0  4.0  3.0  4.5
  b  2.0  3.5  7.0  6.0  8.0  2.0
2 a  3.5  5.0  1.5  3.0  1.0  6.0
  b  7.0  7.0  5.0  1.5  4.5  7.0

## Approach 2: use groupby (__ it has a level parameter __)

this won't work because it does grouping...

In [9]:
df

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  9.0  1.0  8.0  4.0  3.0  4.0
  b  3.0  4.0  7.0  6.0  9.0  1.0
2 a  4.0  7.0  0.0  3.0  0.0  5.0
  b  9.0  9.0  5.0  0.0  4.0  7.0

OMG look at this - I rank the rows

In [10]:
df.T.groupby(level=1).rank().T

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  3.0  1.0  2.0  2.5  1.0  2.5
  b  1.0  2.0  2.0  3.0  3.0  1.0
2 a  3.0  3.0  1.5  1.0  1.5  2.0
  b  3.0  3.0  2.0  1.0  1.0  2.0

In [11]:
df.groupby(level=1,axis=1).rank()

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  3.0  1.0  2.0  2.5  1.0  2.5
  b  1.0  2.0  2.0  3.0  3.0  1.0
2 a  3.0  3.0  1.5  1.0  1.5  2.0
  b  3.0  3.0  2.0  1.0  1.0  2.0

In [12]:
#only this ranks the rows...
df.apply(lambda r: r.rank(),axis=1)

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  6.0  1.0  5.0  3.5  2.0  3.5
  b  2.0  3.0  5.0  4.0  6.0  1.0
2 a  4.0  6.0  1.5  3.0  1.5  5.0
  b  5.5  5.5  3.0  1.0  2.0  4.0

In [13]:
df.groupby(level=1,axis=0).rank()

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  2.0  1.0  2.0  2.0  2.0  1.0
  b  1.0  1.0  2.0  2.0  2.0  1.0
2 a  1.0  2.0  1.0  1.0  1.0  2.0
  b  2.0  2.0  1.0  1.0  1.0  2.0

In [14]:
df.groupby(level=0,axis=0).rank()

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  2.0  1.0  2.0  1.0  1.0  2.0
  b  1.0  2.0  1.0  2.0  2.0  1.0
2 a  1.0  1.0  1.0  2.0  1.0  1.0
  b  2.0  2.0  2.0  1.0  2.0  2.0

## how's about using indexing, stacking, and unstacking etc

but how is this different than just stacking and unstacking?

could I make a generic function that takes a given level, and applies a func to it a returns something of a similar shape?

need to better understand `reindex` and `align` methods which now take level functions

# Using reindex and align

In [15]:
df

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  9.0  1.0  8.0  4.0  3.0  4.0
  b  3.0  4.0  7.0  6.0  9.0  1.0
2 a  4.0  7.0  0.0  3.0  0.0  5.0
  b  9.0  9.0  5.0  0.0  4.0  7.0

In [16]:
df1 = df.copy()
df1.index = df.index.droplevel()
df1

    BB        QQ        ZZ
    oo   pp   oo   pp   oo   pp
a  9.0  1.0  8.0  4.0  3.0  4.0
b  3.0  4.0  7.0  6.0  9.0  1.0
a  4.0  7.0  0.0  3.0  0.0  5.0
b  9.0  9.0  5.0  0.0  4.0  7.0

In [17]:
df2 = df.loc[1,:]
df2

    BB        QQ        ZZ
    oo   pp   oo   pp   oo   pp
a  9.0  1.0  8.0  4.0  3.0  4.0
b  3.0  4.0  7.0  6.0  9.0  1.0

## So to reindex to finer granularity we can use `reindex` and the `level` parameter

The `level` parameter tells which level of the reindexing dataframe to use to bind with the dataframe that will be reindexed.

In [18]:

df2.reindex(df.index, level=1)

      BB        QQ        ZZ
      oo   pp   oo   pp   oo   pp
1 a  9.0  1.0  8.0  4.0  3.0  4.0
  b  3.0  4.0  7.0  6.0  9.0  1.0
2 a  9.0  1.0  8.0  4.0  3.0  4.0
  b  3.0  4.0  7.0  6.0  9.0  1.0

## MI algebra

### break mi into tuples 

10 different ways to do the same thing - the simplest `mi.tolist()`

In [84]:
midx = pd.MultiIndex.from_tuples([(1,'a'),(1,'c'),(2,'a'),(2,'b')])

In [85]:
[midx.get_level_values(i) for i in range(midx.nlevels)]

[Int64Index([1, 1, 2, 2], dtype='int64'),
 Index(['a', 'c', 'a', 'b'], dtype='object')]

In [86]:
zl = list(zip(*[midx.get_level_values(i) for i in range(midx.nlevels)]))
zl

[(1, 'a'), (1, 'c'), (2, 'a'), (2, 'b')]

In [89]:
midx.values

array([(1, 'a'), (1, 'c'), (2, 'a'), (2, 'b')], dtype=object)

In [90]:
midx.tolist()

[(1, 'a'), (1, 'c'), (2, 'a'), (2, 'b')]

In [22]:
pd.MultiIndex.from_tuples(zl)

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 1, 1], [0, 2, 0, 1]])

### Create play indices

In [23]:
ndx_d = midx

** NB.** `mi.values` returns an array of tuples

In [24]:
ndx_d.values #hilarious.. == list(zip(*[midx.get_level_values(i) for i in range(midx.nlevels)]))

array([(1, 'a'), (1, 'c'), (2, 'a'), (2, 'b')], dtype=object)

In [25]:
ndx_a = pd.MultiIndex.from_product( [['BB', 'QQ', 'ZZ'],['ss', 'tt']])

ndx_b = pd.MultiIndex.from_product([['AA', 'CC', 'ZZ'],['qq', '33']])

In [26]:
ndx_a

MultiIndex(levels=[['BB', 'QQ', 'ZZ'], ['ss', 'tt']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [27]:
ndx_b

MultiIndex(levels=[['AA', 'CC', 'ZZ'], ['33', 'qq']],
           labels=[[0, 0, 1, 1, 2, 2], [1, 0, 1, 0, 1, 0]])

### union

Looking below, we get a surprise: whereas we might have expected to have the same number of elements for each ['AA', 'BB', 'CC', 'QQ', 'ZZ'], we see that this
is not the case. While the `levels` are unions, the `labels` are a result of taking the union of the tuples of the parameters.

In [28]:

_1 = pd.DataFrame(np.arange(6).reshape((1,6)), columns=ndx_a)
_1

  BB    QQ    ZZ
  ss tt ss tt ss tt
0  0  1  2  3  4  5

In [29]:

_1 = pd.DataFrame(np.arange(6*6).reshape((6,6)), index=ndx_a, columns=ndx_b)
_1

       AA      CC      ZZ
       qq  33  qq  33  qq  33
BB ss   0   1   2   3   4   5
   tt   6   7   8   9  10  11
QQ ss  12  13  14  15  16  17
   tt  18  19  20  21  22  23
ZZ ss  24  25  26  27  28  29
   tt  30  31  32  33  34  35

We make a union of the two indices, note that `ZZ` is in both indices.

In [30]:
ndx_u = ndx_a.union(ndx_b)
ndx_u

MultiIndex(levels=[['AA', 'BB', 'CC', 'QQ', 'ZZ'], ['33', 'qq', 'ss', 'tt']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 4, 4], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]],
           sortorder=0)

In [31]:

_df = pd.DataFrame(np.arange(6*6).reshape((12,3)), index=ndx_u)
_df

        0   1   2
AA 33   0   1   2
   qq   3   4   5
BB ss   6   7   8
   tt   9  10  11
CC 33  12  13  14
   qq  15  16  17
QQ ss  18  19  20
   tt  21  22  23
ZZ 33  24  25  26
   qq  27  28  29
   ss  30  31  32
   tt  33  34  35

In [32]:
ndx_a

MultiIndex(levels=[['BB', 'QQ', 'ZZ'], ['ss', 'tt']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [33]:
pd.MultiIndex.from_arrays([ndx_a.get_level_values(0), ndx_a.get_level_values(1)])

MultiIndex(levels=[['BB', 'QQ', 'ZZ'], ['ss', 'tt']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [34]:
list(zip(*[ndx_a.get_level_values(0), ndx_a.get_level_values(1)]))

[('BB', 'ss'),
 ('BB', 'tt'),
 ('QQ', 'ss'),
 ('QQ', 'tt'),
 ('ZZ', 'ss'),
 ('ZZ', 'tt')]

## append_to_level

eg. in `df2` below I would like to add `gg` to `oo` and `pp`

In [35]:
def append_to_level(ndx, el, level=-1):
    """ ndx: is a pandas Multi-index
    el is a label (str or int)
    level is which of multi-index to append to
    returns a full tree emulti-index in which a level has an extra element appended to it 
    """
    #create nx2 dataframe
    a = pd.DataFrame.from_records(ndx.tolist())#.values.tolist())

    # copy it and replace a certain with 'el'
    ac = a.copy()
    ac.iloc[:,level] = el
    
    # make rows unique
    aac = a.append(ac).drop_duplicates()
    tup_l = [tuple(r) for i,r in aac.iterrows()]
    return pd.MultiIndex.from_tuples(tup_l)
# ndx.values

### Example usage

In [208]:
mi = pd.MultiIndex.from_product([['a','b','c'],['W','X','Y'],['0','1']],names=['mini','maji','bin'] )

In [209]:
_df = pd.DataFrame(np.arange(2*18).reshape((18,2)), index=mi)
_df

                0   1
mini maji bin
a    W    0     0   1
          1     2   3
     X    0     4   5
          1     6   7
     Y    0     8   9
          1    10  11
b    W    0    12  13
          1    14  15
     X    0    16  17
          1    18  19
     Y    0    20  21
          1    22  23
c    W    0    24  25
          1    26  27
     X    0    28  29
          1    30  31
     Y    0    32  33
          1    34  35

In [210]:
# we shove _df into the new index
new_mi = append_to_level(_df.index,'V',1)
_df2 = _df.reindex(index=new_mi).sortlevel(axis=0)
_df2

          0     1
a V 0   NaN   NaN
    1   NaN   NaN
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   4.0   5.0
    1   6.0   7.0
  Y 0   8.0   9.0
    1  10.0  11.0
b V 0   NaN   NaN
    1   NaN   NaN
  W 0  12.0  13.0
    1  14.0  15.0
  X 0  16.0  17.0
    1  18.0  19.0
  Y 0  20.0  21.0
    1  22.0  23.0
c V 0   NaN   NaN
    1   NaN   NaN
  W 0  24.0  25.0
    1  26.0  27.0
  X 0  28.0  29.0
    1  30.0  31.0
  Y 0  32.0  33.0
    1  34.0  35.0

### other version of append_to_level

In [45]:
def append_to_level0(ndx, el, level=-1):
    """ ndx: is a pandas Multi-index
    el is a label (str or int)
    level is which of multi-index to append to
    returns a full tree emulti-index in which a level has an extra element appended to it """
    _l = [ l.tolist() for l in ndx.levels]
    _l[level].append(el)
    # apply sortlevel appends a sorting array to our index which makes other functions upset..
    # looks buggish
    return pd.MultiIndex.from_product(_l)#.sortlevel()

In [46]:
def append_to_level2(ndx, el, level=-1):
    """
    given a list of tuples of equal length, we will
    let k_i be the number of values in level i,
    we then create \prod(i <> 'level') k_i number of tuples 
    which have the value 'el' in position 'level'
    
    this function isn't necessary...
    
    it would apply when a tree is not a cartesian product
    """
    # simply copy every tuple in ndx and replace actual level value
    # 'el'. we then take the unique values of this list and append it
    # to original list.
    tpl = []
    for t in ndx.values:
        tl = list(t)
        tl[level] = el
        tpl.append(tuple(tl))

    new_tuples = ndx.values.tolist() + list(set(tpl))
    _idx = pd.MultiIndex.from_tuples(new_tuples)
    return _idx

## Generalized MI assignment

In [39]:
# this works because our assignment is perpendicular to the change in index
# what?? I didn't change the index of things
_df3 = _df2.copy()
_df3.loc[idx[:,['X','Y'],'0'],0] = _df3.loc[idx[:,['X','Y'],'0'],1]

_df3

          0     1
a V 0   NaN   NaN
    1   NaN   NaN
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   5.0   5.0
    1   6.0   7.0
  Y 0   9.0   9.0
    1  10.0  11.0
b V 0   NaN   NaN
    1   NaN   NaN
  W 0  12.0  13.0
    1  14.0  15.0
  X 0  17.0  17.0
    1  18.0  19.0
  Y 0  21.0  21.0
    1  22.0  23.0
c V 0   NaN   NaN
    1   NaN   NaN
  W 0  24.0  25.0
    1  26.0  27.0
  X 0  29.0  29.0
    1  30.0  31.0
  Y 0  33.0  33.0
    1  34.0  35.0

In [40]:
# this should not work...
_df4 = _df2.copy()
_df4.loc[idx[:,['X','Y'],'0'],0] = _df4.loc[idx[:,['X','Y'],'1'],0]
_df4

# and it doesn't because the assignment is looking for the right index and it can't find it. but if I remove the index, it should work...

          0     1
a V 0   NaN   NaN
    1   NaN   NaN
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   NaN   5.0
    1   6.0   7.0
  Y 0   NaN   9.0
    1  10.0  11.0
b V 0   NaN   NaN
    1   NaN   NaN
  W 0  12.0  13.0
    1  14.0  15.0
  X 0   NaN  17.0
    1  18.0  19.0
  Y 0   NaN  21.0
    1  22.0  23.0
c V 0   NaN   NaN
    1   NaN   NaN
  W 0  24.0  25.0
    1  26.0  27.0
  X 0   NaN  29.0
    1  30.0  31.0
  Y 0   NaN  33.0
    1  34.0  35.0

In [41]:
# this should not work...
_df5 = _df2.copy()
_df5.loc[idx[:,['X','Y'],'0'],0] = _df5.loc[idx[:,['X','Y'],'1'],0].values
_df5

# and it doesn't because the assignment is looking for the right index and it can't find it. but if I remove the index, it should work...
# and it does! yessss...

          0     1
a V 0   NaN   NaN
    1   NaN   NaN
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   6.0   5.0
    1   6.0   7.0
  Y 0  10.0   9.0
    1  10.0  11.0
b V 0   NaN   NaN
    1   NaN   NaN
  W 0  12.0  13.0
    1  14.0  15.0
  X 0  18.0  17.0
    1  18.0  19.0
  Y 0  22.0  21.0
    1  22.0  23.0
c V 0   NaN   NaN
    1   NaN   NaN
  W 0  24.0  25.0
    1  26.0  27.0
  X 0  30.0  29.0
    1  30.0  31.0
  Y 0  34.0  33.0
    1  34.0  35.0

## sum (and others) with `level` parameter

In [42]:
# and this works too, and is worth studying!
# using sum with a level parameter means that all levels EXCEPT the given level
# will be summed out.

_df6 = _df2.copy()
print(_df6.loc[idx[:,'V','0'],0].shape) 
print(_df6.loc[idx[:,['W','X','Y'],'0'],0].sum(level=0,axis=0))
_df6.loc[idx[:,'V','0'],0] = _df6.loc[idx[:,['W','X','Y'],'0'],0].sum(level=0,axis=0).values
_df6

(3,)
a    12.0
b    48.0
c    84.0
Name: 0, dtype: float64

          0     1
a V 0  12.0   NaN
    1   NaN   NaN
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   4.0   5.0
    1   6.0   7.0
  Y 0   8.0   9.0
    1  10.0  11.0
b V 0  48.0   NaN
    1   NaN   NaN
  W 0  12.0  13.0
    1  14.0  15.0
  X 0  16.0  17.0
    1  18.0  19.0
  Y 0  20.0  21.0
    1  22.0  23.0
c V 0  84.0   NaN
    1   NaN   NaN
  W 0  24.0  25.0
    1  26.0  27.0
  X 0  28.0  29.0
    1  30.0  31.0
  Y 0  32.0  33.0
    1  34.0  35.0

In [43]:
# and this works too, and is worth studying!
# using sum with a level parameter means that all levels EXCEPT the given level
# will be summed out.

_df7 = _df2.copy()
print(_df7.loc[idx[:,'V','0'],:].shape) 
print(_df7.loc[idx[:,['W','X','Y'],'0'],:].sum(level=0,axis=0))
_df7.loc[idx[:,'V','0'],:] = _df7.loc[idx[:,['W','X','Y'],'0'],:].sum(level=0,axis=0).values
_df7

(3, 2)
      0     1
a  12.0  15.0
b  48.0  51.0
c  84.0  87.0

          0     1
a V 0  12.0  15.0
    1   NaN   NaN
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   4.0   5.0
    1   6.0   7.0
  Y 0   8.0   9.0
    1  10.0  11.0
b V 0  48.0  51.0
    1   NaN   NaN
  W 0  12.0  13.0
    1  14.0  15.0
  X 0  16.0  17.0
    1  18.0  19.0
  Y 0  20.0  21.0
    1  22.0  23.0
c V 0  84.0  87.0
    1   NaN   NaN
  W 0  24.0  25.0
    1  26.0  27.0
  X 0  28.0  29.0
    1  30.0  31.0
  Y 0  32.0  33.0
    1  34.0  35.0

In [44]:
# and this is where shit gets crazy
# the levels parameter in sum can take a list

# I want to keep 'a' _ '0' and sum out the capitals ['W','X','Y']
# .... and see below. very cool.

_df7 = _df2.copy()
print(_df7.loc[idx[:,'V','0'],:].shape) 
print(_df7.loc[idx[:,['W','X','Y'],:],:].sum(level=[0,2],axis=0))
_df7.loc[idx[:,'V',:],:] = _df7.loc[idx[:,['W','X','Y'],:],:].sum(level=[0,2],axis=0).values
_df7

(3, 2)
        0     1
a 0  12.0  15.0
  1  18.0  21.0
b 0  48.0  51.0
  1  54.0  57.0
c 0  84.0  87.0
  1  90.0  93.0

          0     1
a V 0  12.0  15.0
    1  18.0  21.0
  W 0   0.0   1.0
    1   2.0   3.0
  X 0   4.0   5.0
    1   6.0   7.0
  Y 0   8.0   9.0
    1  10.0  11.0
b V 0  48.0  51.0
    1  54.0  57.0
  W 0  12.0  13.0
    1  14.0  15.0
  X 0  16.0  17.0
    1  18.0  19.0
  Y 0  20.0  21.0
    1  22.0  23.0
c V 0  84.0  87.0
    1  90.0  93.0
  W 0  24.0  25.0
    1  26.0  27.0
  X 0  28.0  29.0
    1  30.0  31.0
  Y 0  32.0  33.0
    1  34.0  35.0

## Union

In [47]:
df2

    BB        QQ        ZZ
    oo   pp   oo   pp   oo   pp
a  9.0  1.0  8.0  4.0  3.0  4.0
b  3.0  4.0  7.0  6.0  9.0  1.0

In [48]:
df2.columns.values

array([('BB', 'oo'), ('BB', 'pp'), ('QQ', 'oo'), ('QQ', 'pp'),
       ('ZZ', 'oo'), ('ZZ', 'pp')], dtype=object)

In [49]:
df2.columns.tolist()

[('BB', 'oo'),
 ('BB', 'pp'),
 ('QQ', 'oo'),
 ('QQ', 'pp'),
 ('ZZ', 'oo'),
 ('ZZ', 'pp')]

In [50]:
df2.columns

MultiIndex(levels=[['BB', 'QQ', 'ZZ'], ['oo', 'pp']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

Like this:

In [51]:
ndx = df.columns
ndx2 = pd.MultiIndex.from_tuples(ndx.tolist() + [(
    u, b) for u in ['BB', 'QQ', 'ZZ'] for b in ['ss', 'tt']])
df3 = df.reindex(columns=ndx2).sortlevel(axis=1)
df3

      BB                QQ                ZZ
      oo   pp  ss  tt   oo   pp  ss  tt   oo   pp  ss  tt
1 a  9.0  1.0 NaN NaN  8.0  4.0 NaN NaN  3.0  4.0 NaN NaN
  b  3.0  4.0 NaN NaN  7.0  6.0 NaN NaN  9.0  1.0 NaN NaN
2 a  4.0  7.0 NaN NaN  0.0  3.0 NaN NaN  0.0  5.0 NaN NaN
  b  9.0  9.0 NaN NaN  5.0  0.0 NaN NaN  4.0  7.0 NaN NaN

alternative solution: get product of first idx with another the multiplier
I'm assuming I can multiply indexes ...

possible tools `union` and `intersection` (need acceeds to levels...)

MI.append() may do what we want..

In [52]:
df3.columns

MultiIndex(levels=[['BB', 'QQ', 'ZZ'], ['oo', 'pp', 'ss', 'tt']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]])

In [53]:
df3cp = df3.columns.append(df3.columns)
df3cp

MultiIndex(levels=[['BB', 'QQ', 'ZZ'], ['oo', 'pp', 'ss', 'tt']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]])

In [54]:
df.reindex(columns=df3cp).T

         1         2
         a    b    a    b
BB oo  9.0  3.0  4.0  9.0
   pp  1.0  4.0  7.0  9.0
   ss  NaN  NaN  NaN  NaN
   tt  NaN  NaN  NaN  NaN
QQ oo  8.0  7.0  0.0  5.0
   pp  4.0  6.0  3.0  0.0
   ss  NaN  NaN  NaN  NaN
   tt  NaN  NaN  NaN  NaN
ZZ oo  3.0  9.0  0.0  4.0
   pp  4.0  1.0  5.0  7.0
   ss  NaN  NaN  NaN  NaN
   tt  NaN  NaN  NaN  NaN
BB oo  9.0  3.0  4.0  9.0
   pp  1.0  4.0  7.0  9.0
   ss  NaN  NaN  NaN  NaN
   tt  NaN  NaN  NaN  NaN
QQ oo  8.0  7.0  0.0  5.0
   pp  4.0  6.0  3.0  0.0
   ss  NaN  NaN  NaN  NaN
   tt  NaN  NaN  NaN  NaN
ZZ oo  3.0  9.0  0.0  4.0
   pp  4.0  1.0  5.0  7.0
   ss  NaN  NaN  NaN  NaN
   tt  NaN  NaN  NaN  NaN

must get levels !

nomenclature: does `levels` refer the different levels in the hierachy of a muli-index _or_ does it refer to the categories within.

In [55]:
def level_lists(ndx, lvls=[]):
    return [ndx.levels[level].tolist() for level in lvls]

In [56]:
level_lists(ndx,[0,1])

[['BB', 'QQ', 'ZZ'], ['oo', 'pp']]

In [57]:
pd.MultiIndex.from_product( level_lists(ndx,[0]))

Index(['BB', 'QQ', 'ZZ'], dtype='object')

`mi.append` basically gets concatenates two list of tuples

In [58]:
__idx = ndx.append(pd.MultiIndex.from_product( level_lists(ndx,[1,0])))
__idx

MultiIndex(levels=[['BB', 'QQ', 'ZZ', 'oo', 'pp'], ['BB', 'QQ', 'ZZ', 'oo', 'pp']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4], [3, 4, 3, 4, 3, 4, 0, 1, 2, 0, 1, 2]])

self observation: I will tend to abstraction over getting shit done...

In [59]:
df.reindex(__idx)

       BB      QQ      ZZ
       oo  pp  oo  pp  oo  pp
BB oo NaN NaN NaN NaN NaN NaN
   pp NaN NaN NaN NaN NaN NaN
QQ oo NaN NaN NaN NaN NaN NaN
   pp NaN NaN NaN NaN NaN NaN
ZZ oo NaN NaN NaN NaN NaN NaN
   pp NaN NaN NaN NaN NaN NaN
oo BB NaN NaN NaN NaN NaN NaN
   QQ NaN NaN NaN NaN NaN NaN
   ZZ NaN NaN NaN NaN NaN NaN
pp BB NaN NaN NaN NaN NaN NaN
   QQ NaN NaN NaN NaN NaN NaN
   ZZ NaN NaN NaN NaN NaN NaN

In [60]:
def append_to_level4( item_l, axis = 1, level = -1):
    ndx = df.columns
    ndx2 = pd.MultiIndex.from_tuples(ndx.tolist() + [(
        u, b) for u in ['BB', 'QQ', 'ZZ'] for b in ['ss', 'tt']])
    df3 = df.reindex(columns=ndx2).sortlevel(axis=1)
    df3

In [61]:
ndx.levshape

(3, 2)

In [62]:
ndx.levels

FrozenList([['BB', 'QQ', 'ZZ'], ['oo', 'pp']])

In [63]:
def addlevel(mi, level_values, level=-1):
    # how many levels
    shape = mi.levshape
    
    # sort levels

## assiging sub frames is ugly

Currently, I have to pull data out with `values`. Aren't the indexes/columns ligning up?. 

Can we fix this with `align` ?

In [64]:
# why must this be so ugly?
df3.loc[:,idx[:,'ss']] = df3.loc[:,idx[:,'oo']].values + df3.loc[:,idx[:,'pp']].values
df3.loc[:,idx[:,'tt']] = df3.loc[:,idx[:,'oo']].values * df3.loc[:,idx[:,'pp']].values

In [101]:
# why must this be so ugly?

# lets look at this one morcel and observe it has a full index and columns
print(df3.loc[idx[:],idx[['BB','QQ'],'oo']])

#and 

print(df3.loc[idx[:],idx[['QQ','ZZ'],'oo']])

# and finally

df3.loc[idx[:],idx[['BB','QQ'],'oo']] + df3.loc[idx[:],idx[['QQ','ZZ'],'oo']]

      BB   QQ
      oo   oo
1 a  9.0  8.0
  b  3.0  7.0
2 a  4.0  0.0
  b  9.0  5.0
      QQ   ZZ
      oo   oo
1 a  8.0  3.0
  b  7.0  9.0
2 a  0.0  0.0
  b  5.0  4.0

     BB    QQ  ZZ
     oo    oo  oo
1 a NaN  16.0 NaN
  b NaN  14.0 NaN
2 a NaN   0.0 NaN
  b NaN  10.0 NaN

In [65]:
df3

      BB                    QQ                    ZZ
      oo   pp    ss    tt   oo   pp    ss    tt   oo   pp    ss    tt
1 a  9.0  1.0  10.0   9.0  8.0  4.0  12.0  32.0  3.0  4.0   7.0  12.0
  b  3.0  4.0   7.0  12.0  7.0  6.0  13.0  42.0  9.0  1.0  10.0   9.0
2 a  4.0  7.0  11.0  28.0  0.0  3.0   3.0   0.0  0.0  5.0   5.0   0.0
  b  9.0  9.0  18.0  81.0  5.0  0.0   5.0   0.0  4.0  7.0  11.0  28.0

# Experiments with `align`

In [66]:
_s = pd.Series(range(4),df.index); _s

1  a    0
   b    1
2  a    2
   b    3
dtype: int64

In [67]:
s_index = _s.index.set_names(['num','lower'])

In [68]:
_s.index = s_index

In [69]:
_s.index

MultiIndex(levels=[[1, 2], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['num', 'lower'])

In [70]:
ndx.levels[0]

Index(['BB', 'QQ', 'ZZ'], dtype='object')

In [71]:
ndx.to_series()

BB  oo    (BB, oo)
    pp    (BB, pp)
QQ  oo    (QQ, oo)
    pp    (QQ, pp)
ZZ  oo    (ZZ, oo)
    pp    (ZZ, pp)
dtype: object

In [72]:
ndx.tolist()

[('BB', 'oo'),
 ('BB', 'pp'),
 ('QQ', 'oo'),
 ('QQ', 'pp'),
 ('ZZ', 'oo'),
 ('ZZ', 'pp')]

In [73]:
# must convert idx.levels into list of lists to make work... (a github pull request?)
ndx2 = pd.MultiIndex.from_product( [list(l) for l in _s.index.levels] + [['A','T']]); ndx2

MultiIndex(levels=[[1, 2], ['a', 'b'], ['A', 'T']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 0, 1, 1, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]])

In [74]:
def MIproduct(mi, iterable):
    return pd.MultiIndex.from_product( [list(l) for l in _s.index.levels] + [list(l) for l in iterable]); ndx2

In [75]:
ndx3 = MIproduct(ndx, [['A','T']]).set_names(['num','lower','upper']); ndx3

MultiIndex(levels=[[1, 2], ['a', 'b'], ['A', 'T']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 0, 1, 1, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['num', 'lower', 'upper'])

In [76]:
_s2 = pd.Series(range(8), MIproduct(_s.index,[['A','T']])); _s2

1  a  A    0
      T    1
   b  A    2
      T    3
2  a  A    4
      T    5
   b  A    6
      T    7
dtype: int64

# Splitting columns and rows